@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --color-blue: hsl(223, 87%, 63%);
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-red: hsl(354, 100%, 66%);
  --color-dark-blue: hsl(209, 33%, 12%);
  --color-gray: hsl(0, 0%, 59%);

  --font-family: 'Libre Franklin', sans-serif;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;

  --font-size: 20px;
  --fs-small: 1rem;
}
html, body {
  min-height: 100%;
  margin: 40px auto;
  font-family: var(--font-family);
  font-weight: var(--fw-300)
}

header {
  display: grid;
  place-content: center;
  text-align: center;
}

.hero__logo {
  margin-bottom: 40px;
  display: inline-flex;
}

.hero__content h1 {
  color: var(--color-gray);
  font-size: 48px;
  line-height: 125%;
  font-weight: var(--fw-300);
  margin-bottom: 1rem;
}

.hero__content span {
  font-weight: var(--fw-700);
  color: var(--color-dark-blue);
}

.hero__content p {
  font-size: 20px;
  color: var(--color-dark-blue);
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn{
  text-decoration: none;
  background-color: var(--color-blue);
  color: white;
  font-size: var(--fs-small);
  font-weight: var(--fw-600);

  padding: 18px 62px;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  transition: all .4s ease-in-out;
}

.btn:hover {
  background-color: var(--color-pale-blue);
}

.input {
  border: 1px solid var(--color-pale-blue);
  border-radius: 40px;
  width: 400px;
  padding: 18px 30px;

  text-align: left;
  /* color: var(--color-pale-blue); */
  font-size: var(--fs-small);
  }

  .input:focus-visible {
    border: 2px solid var(--color-blue);
  }

  .error {
    color: var(--color-light-red);
  }

  .success {
    color: green;
}

.hero__illustration {
  margin-top: 80px;
  height: 360px;
}

.social-icons {
 color: var(--color-blue);

}

.social-icons p {
  margin-top: 25px;
  font-size: 12px;
  color: var(--color-gray);
}

@media (max-width: 375px) {
  header{
    margin: 40px 36px;
  }
  .hero__content h1 {
    font-size: 22px;
  }

  .hero__content p {
    font-size: 12px;
  }

  .hero__illustration {
    margin-top: 60px;
    height: 60px;
  }
  

}